<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <p class="header">Login Account to see more</p>

      <% if(error.length>0){ %>
        <p class="error"><%= error %> </p>
        <% }%>
    
  
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" class="detail" />
        <br>
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Login Account">
      </form>
     
      <a href="/forgot">Forgot your password?</a >

      <footer>
        <p>
          By continuing, you agree to our
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/">New User? Sign up</a>
      </footer>
    </div>
  </div>
</body>
</html>


