<!-- 
	Simple web reminder: Allows you to set reminders that appear as browser popups.
	Author: yeppiidev
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder</title>

    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: #1d1d1d;
            color: white;
            padding: 2em;
        }

        h1 {
            font-size: 4em;
        }

        input {
            background-color: #3a3a3a;
            color: white;
            border: none;
            outline: none;
            padding: 1em;
            font-size: 1em;
            font-family: 'Courier New', Courier, monospace;
            margin: 0.2em;
            box-sizing: border-box;
            width: 100%;
            transition: scale cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;
            border-radius: 10px;
        }

        input::placeholder {
            color: #e8e8e8;
        }

        ::selection {
            font-size: 150%;
            color: black;
            background-color: white;
        }

        input:hover {
            scale: 1.01;
        }

        input:focus {
            scale: 1.05;
            box-shadow: 0px 0px 10px 0px #ffffff;
        }

        button {
            background-color: #bdbdbd;
            color: #000000;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            padding: 0.5em;
            font-size: 2.5em;
            margin-top: 1em;
            border: none;
            box-sizing: border-box;
            width: 100%;
            transition: scale cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;
            border-radius: 10px;

        }

        button:hover {
            filter: invert();
            border: none;
            scale: 1.1;
        }

        button:hover:active {
            scale: 0.9;
        }

        @media (max-width: 500px) {
            h1 {
                font-size: 3em;
            }
        }
    </style>
</head>

<body>
    <h1>Set a reminder</h1>

    <form autocomplete="off">
        <input type="number" name="reminder_amt" id="reminder_amt" placeholder="Reminder interval" min="0" step="128"
            value="0">
        <br>
        <input type="text" name="reminder_msg" id="reminder_msg" placeholder="Reminder message" autocomplete="off">
    </form>

    <button id="set_reminder">Set reminder</button>
</body>

<script>
    let set_timer_trigger_button = document.getElementById("set_reminder");
let reminder_msg = document.getElementById("reminder_msg");
let intervalId; // Variable to store the interval ID

let default_values = [
    "Get some water man.",
];

reminder_msg.value = default_values[Math.floor(Math.random() * default_values.length)];

set_timer_trigger_button.onclick = () => {
    let reminder_amt = document.getElementById("reminder_amt").value;
    reminder_msg = reminder_msg.value;

    if (reminder_amt < 1500) {
        let should_set = confirm("Are you sure you want to have the trigger interval below 500ms? (This can cause lag on some systems)");
        if (!should_set) {
            return;
        }
    }

    // Clear any existing interval before setting a new one
    clearInterval(intervalId);

    // Set a new interval and store the interval ID in the variable
    intervalId = setInterval(() => {
        alert(reminder_msg);
    }, reminder_amt);
};

</script>

</html>